<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>你好,这是首页。</h1>
<h3>测试RequestMapping。</h3>
<div>
    <a th:href="@{'user/login?exists=1'}">登录</a><br>
</div>
<div>
    <a th:href="@{'user/logout?status=1'}">登出</a><br>
</div>
<!--@{}：表示绝对路径-->

<form th:action="@{user/testPut}" method="put">
    <input type="submit" value="testPut">
</form>

<div>
    <a th:href="@{'user/testParams1?username=1&password=123'}">测试params拼接参数方式1</a><br>
</div>
<div>
    <a th:href="@{user/testParams1(username='ms',password=123)}">测试params拼接参数方式2</a><br>
</div>
<div>
    <a th:href="@{user/testParams2(username='ms',password=123)}">测试params拼接参数带叹号1</a><br>
</div>
<div>
    <a th:href="@{user/testParams2(username='ms')}">测试params拼接参数带叹号2</a><br>
</div>
<div>
    <a th:href="@{user/testParams3(username='ms',password=123456)}">测试params拼接参数带叹号3</a><br>
</div>
<div>
    <a th:href="@{user/testRestful/1/ms}">测试Request Mapping的路径的Restful风格</a><br>
</div>
<div>
    <a th:href="@{testGetParams}">测试获取前端参数</a><br>
</div>
<div>
    <a th:href="@{sendMsg}">测试获取后端参数</a><br>
</div>
</body>
</html>