<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>向域对象共享数据</title>
</head>
<body>
<h1>向Request域发送数据</h1>
<div>

    <h5>共享数据方法1：Servlet API</h5>
    <a th:href="@{/sendMsgToReq/servletApi(username='ms',password=123456)}">Servlet API</a>

    <h5>共享数据方法2：ModelAndView</h5>
    <a th:href="@{/sendMsgToReq/modelAndView(username='ms',password=123456)}">ModelAndView</a>

    <h5>共享数据方法3：Map</h5>
    <a th:href="@{/sendMsgToReq/map(username='ms',password=123456)}">Map</a>

    <h5>共享数据方法4：Model</h5>
    <a th:href="@{/sendMsgToReq/model(username='ms',password=123456)}">Model</a>

    <h5>共享数据方法5：ModelMap</h5>
    <a th:href="@{/sendMsgToReq/modelMap(username='ms',password=123456)}">ModelMap</a>

</div>
<hr>

<h1>向Session域发送数据</h1>
<div>
    <h5>共享数据方法6：Session 域</h5>
    <a th:href="@{/sendMsgToSession/session(username='ms',password=123456)}">Session域共享</a>
</div>
<hr>

<h1>向Application域发送数据</h1>
<div>
    <h5>共享数据方法7：Application 域</h5>
    <a th:href="@{/sendMsgToApp/app(username='ms',password=123456)}">Application域共享</a>
</div>
<hr>
<h1><a th:href="@{/}">回首页</a></h1>
</body>
</html>