<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成功</title>
</head>
<body>
<h1>恭喜您，成功了。</h1>
<h1>Congratulations，you have succeed。</h1>
<h1>接收Request域对象的数据</h1>
<div>
    <!-- 注意这个不是报错， -->
    <p th:text="'message='+${msg}"></p>
    <!-- 注意这个不是报错， -->
    <p th:text="'username='+${username}"></p>
    <p th:text="'password='+${password}"></p>
</div>

<h1>接收Session域对象的数据</h1>
<div>
    <!-- 注意这个不是报错， -->
    <p th:text="'message='+${session.get('msg')}"></p>
    <!-- 注意这个不是报错， -->
    <p th:text="'username='+${session.get('username')}"></p>
    <p th:text="'password='+${session.get('password')}"></p>
</div>

<h1>接收Application域对象的数据</h1>
<div>
    <!-- 注意这个不是报错， -->
    <p th:text="'message='+${application.get('msg')}"></p>
    <!-- 注意这个不是报错， -->
    <p th:text="'username='+${application.get('username')}"></p>
    <p th:text="'password='+${application.get('password')}"></p>
</div>
<h1><a th:href="@{/}">回首页</a></h1>
</body>
</html>